.address_customer{
	display: inline-block;
	font-size: 25px;
	margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
	border-color: #000000;
	width: 550px;
	color: #000000;
	margin-left: 200px;
}