
  /*---------------------------------------------------CONTENT------------------------------------------------------------------
  ------------------------------------------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------------------------------------------*/


  /*---------------------------------------------------Header------------------------------------------------------------------*/

 .title-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
   
}



 .title-tabs ul li{
    border-radius: 11px 11px 0px 0px;
    float: none;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin:5px;
    background-color: #E6E6E6;
     width: 150px;
    height: 50px;
     
    -webkit-transition: width 0.3s, height 0.3s; 
    transition: width 0.3s, height 0.3s;
    
}
  .title-tabs li>a {
    color: black;
    text-decoration: none;
      
}
.title-tabs ul li.active {
   background-color: #FF5C00 !important;
   
     width: 200px;
    height: 60px;

    font-size: 19px;
    
}
.title-tabs li.active>a {
    color: white !important;
      
}
 .title-tabs li:hover {
    background-color: #BDBDBD;
}

/*---------------------------------------------------Boby------------------------------------------------------------------*/
 .content-tabs .tab-pane .tab-part {
  background: white;
 
  
}

/*-------------------------------------------------------------------------------
--------------------------ITEM    -------------------------------------------------------------
------------------------------------------------------------------------------------------------*/

.content-tabs{
  overflow: hidden;
}
/*----------------------------------label--------------------------------------------*/
.green {
  background-color: #59B210;
  color: #fff;
}
.green.ribbon {
  background-color: transparent;
}
.green.ribbon:after {
  border-top-color: #59B210;
}
.red {
  background-color: #F8484A;
  color: #fff;
}
.red.ribbon {
  background-color: transparent;
}
.red.ribbon:after {
  border-top-color: #F8484A;
}
.blue {
  background-color: #407AC5;
  color: #fff;
}
.blue.ribbon {
  background-color: transparent;
}
.blue.ribbon:after {
  border-top-color: #407AC5;
}

.ribbon {
  z-index: 100;
  top: 2.5%;
  font-size: 11px;
  line-height: 20px;
  padding: 4px 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.ribbon:nth-child(2) {
  margin-top: 30px;
}
.ribbon:nth-child(3) {
  margin-top: 60px;
}
.ribbon:nth-child(4) {
  margin-top: 90px;
}
.ribbon span {
  position: relative;
  z-index: 100;
  margin-right: 11px;
}
.ribbon:after {
  content: "";
  display: inline-block;
  border-top-width: 28px;
  border-top-style: solid;
  border-left: 0px;
  border-right: 14px solid transparent;
  height: 0;
  min-width: 68px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
figure.product-card .labels .ribbon {
    position: absolute;
}