.submit-tab{
	padding-left:30%;
	margin-top: 20px;
}
.btn1 {
    background-color: #ff5c00;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.section-admin {
    margin: 100px 0px;
    padding-right: 30%;
    padding-left: 30%;
}
.title-tab{
	 padding-left: 30%;
}
p.note{
	color: #9C9C9C;
	font-size:12px;

}
.error {color: #FF0000;}